/*
 * Waybar Style File
 */

/* === Global Configuration === */
* {
  border: none;
  border-radius: 0;
  font-family: "Symbols Nerd Font", "Noto Sans";
  font-size: 15px;
}

/* === Bar Styling === */
window#waybar {
  background-color: transparent;
}

/* === Tooltip Styling === */
tooltip {
  border-radius: 12px;
}
tooltip label {
  color: white;
  font-family: "Symbols Nerd Font", "Noto Sans Mono";
}

/* === Module Groups === */
.modules-left {
  margin: 5px 0;
  color: white;
}
.modules-center {
  background-color: rgba(155, 89, 182, 0.9);
  border-radius: 0 0 28px 28px;
  margin-bottom: 10px;
  padding: 0 10px;
  color: white;
}
.modules-right {
  background-color: rgba(100, 100, 100, 0.9);
  border-radius: 28px;
  margin: 5px 8px;
  color: white;
}

/* === Left Group Modules === */
#custom-system {
  background-color: #1793d1;
  border-radius: 50%;
  font-size: 22px;
  min-width: 30px;
  min-height: 30px;
  margin: 0 8px;
}
#custom-pacman,
#custom-media {
  border-radius: 15px;
  color: #2a5c45;
  padding: 0 5px;
  margin: 2px 5px;
}
#custom-pacman {
  background-color: #87ceeb;
  min-width: 18px;
}
#custom-media {
  background-color: #66cc99;
  min-width: 60px;
}

/* === Center Group Modules === */
#custom-weather {
  padding-left: 10px;
}
#clock {
  padding-right: 10px;
}

/* === Right Group Modules === */
#network,
#disk,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#battery {
  padding: 0 7px;
}
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#battery {
  border-left: 1px solid white;
}
#network {
  border-right: 1px solid white;
}
#battery {
  border-left: 1px solid white;
  padding: 0 7px;
}

/* === Conditional Styling === */
#network.disconnected,
#disk.warning,
#disk.critical,
#battery.charging,
#battery.warning,
#battery.critical {
  border-radius: 15px;
  border: none;
}
#battery.charging {
  background-color: #26a65b;
}

#disk.warning,
#battery.warning:not(.charging) {
  background-color: #ffff66;
  color: #2a5c45;
}
#network.disconnected,
#disk.critical,
#battery.critical:not(.charging) {
  background-color: #f53c3c;
}

/* === Workspaces Styling === */
#workspaces {
  background-color: rgba(0, 86, 53, 0.9);
  border-radius: 28px;
}
#workspaces button {
  color: white;
  border-radius: 28px;
  padding: 0 5px;
  background-color: transparent;
}
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
}
#workspaces button.active {
  border-bottom: 2px solid white;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* === Mode and Submap Styling === */
#mode,
#submap {
  color: black;
  background-color: yellow;
  border-radius: 28px;
  padding: 0px 5px;
}
