/*
 * Waybar Style File
 */

/* Global Configuration */
* {
  border: none;
  border-radius: 0;
  font-family: "Symbols Nerd Font", "Noto Sans";
  font-size: 15px;
  color: #ffffff;
}

/* Styles for the bar itself */
window#waybar {
  background-color: rgba(0, 86, 53, 0);
}

/* Tooltip when hover modules */
tooltip {
  border-radius: 12px;
}
tooltip label {
  color: white;
  font-family: "Symbols Nerd Font", "Noto Sans Mono";
}

.modules-left {
  margin: 5px 0px;
}
.modules-center {
  background-color: rgba(155, 89, 182, 0.9);
  border-radius: 0 0 28px 28px;
  margin-bottom: 5px;
  padding: 5px 10px;
}
.modules-right {
  background-color: rgba(100, 100, 100, 0.9);
  border-radius: 28px;
  margin: 6px;
}

/* Styles for the left group */
#custom-system {
  background-color: #1793d1;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  margin: 0px 5px;
}
#custom-pacman {
  background-color: #87ceeb;
  border-radius: 15px;
  color: #2a5c45;
  min-width: 18px;
  padding: 5px;
  margin: 0px 5px;
}
#custom-media {
  background-color: #66cc99;
  border-radius: 15px;
  color: #2a5c45;
  margin: 5px 5px;
  min-width: 60px;
  padding: 0 5px;
}

/* Styles for the center group */
#idle_inhibitor {
}
#custom-weather {
  padding-left: 10px;
}
#clock {
  padding-right: 10px;
}
#tray {
}

/* Styles for the right group */
#network,
#disk,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio {
  padding: 0 7px;
}
/* disk style */
#disk.warning {
  background-color: #ffff66;
  color: #2a5c45;
}
#disk.critical {
  background-color: #f53c3c;
}
#network.disconnected {
  background-color: #f53c3c;
  border-radius: 15px;
}
/* battery style */
#battery {
  border-radius: 15px 0 0 15px;
  padding: 0 7px;
}
#battery.charging {
  background-color: #26a65b;
}
#battery.warning:not(.charging) {
  background-color: #ffff66;
  color: #2a5c45;
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
}

#workspaces {
  padding-left: 5px;
}

/* Styles for Workspace Buttons */
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.active {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* Styles for Mode and Submap */
#mode,
#submap {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

/* Styles for Different Modules */
/* Styles for Specific Modules */

/* Styles for Hidden Waybar Window */
window#waybar.hidden {
  opacity: 0.2;
}
