/*
 * Waybar Style File
 */

/* Global Configuration */
* {
    border: none;
    border-radius: 0;
    font-family: 'Symbols Nerd Font', "Noto Sans";
    font-size: 15px;
}

/* Styles for the bar itself */
window#waybar {
    background-color: rgba(0, 86, 53, 0.3);
    border-bottom: 3px solid rgba(100, 114, 125, 0.8);
    color: #ffffff;
    transition: background-color 0.5s;
}

/* Tooltip when hover modules */
tooltip {
    border-radius: 12px;
}

tooltip label {
    color: white;
}

/* Styles for the left group */
#custom-system {
    background-color: #1793d1;
    border-radius: 0 28px 28px 0;
    color: #ffffff;
    font-size: 28px;
    padding: 0 8px 0 4px;
}

#custom-media {
    background-color: #66cc99;
    border-radius: 15px;
    color: #2a5c45;
    margin-bottom: 3px;
    margin-left: 5px;
    min-width: 60px;
    padding: 0 5px;
}

#custom-pacman {
    background-color: #87ceeb;
    border-radius: 15px;
    color: #2a5c45;
    margin-bottom: 3px;
    margin-left: 5px;
    min-width: 60px;
    padding: 0 5px;
}

/* Styles for the center group */
.modules-center {
    background-color: rgba(155, 89, 182, 0.9);
    border-radius: 0 0 28px 28px;
    margin-bottom: 3px;
}

#idle_inhibitor {
    padding: 0 12px;
}

#custom-weather {
}

#clock {
}

#tray {
    padding: 0 12px;
}


/* Styles for the left group */
.modules-right {
    background-color: rgba(100, 100, 100, 0.9);
    border-radius: 28px 0 0 28px;
    margin-bottom: 3px;
}


/*Not sure*/







/* Styles for Hidden Waybar Window */
window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    padding-left: 5px;
}

/* Styles for Workspace Buttons */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.active {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Styles for Mode and Submap */
#mode, #submap {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/* Styles for Different Modules */
#disk, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio {
    padding: 0 7px;
    margin: 0 4px;
    color: #ffffff;
}

/* Styles for Specific Modules */

/*
#battery {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation: blink 0.5s linear infinite alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #bf4242;
    margin: 0;
}

#memory {
    background-color: #3ab296;
    margin: 0;
}

#backlight {
    background-color: #f5e653;
    color: rgba(50, 50, 50, 0.9);
    margin: 0;
}

#network {
    margin-bottom: 1px;
}
*/
#network.disconnected {
    background-color: #f53c3c;
    border-radius: 15px;
}
/*
#pulseaudio {
    background-color: #ad3897;
    margin: 0;
}


#temperature {
    color: rgba(50, 50, 50, 0.8);
    background-color: rgb(243, 156, 18);
    margin: 0;
}

#temperature.critical {
    background-color: #eb4d4b;
}
*/

